/* Written by Tyler Brandt */

body{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#wrapper{
	position: absolute;
	left: 320px;
	top: 335px;
	width: 1101px;
	overflow: hidden;
}

#conventionSelect{
	position: absolute;
	left: 320px;
	top: 135px;
	width: 1099px;
	height: 200px;
	border: solid 1px;
	border-radius: 2px; 
}

table{
	width: 100%;
	height: 100%;
	table-layout: fixed;
}
tr{
	border: solid 1px;
}
td{
	border: solid 1px;
	text-align: center;
	cursor: pointer;
}
td:hover{
	background-color: #000000;
	color: #FFFFFF;
}

/* The entire list of events, and the events themselves */
.eventList{
	list-style: none;
}
.event {
	position:relative;
	width: 1100px;
	height:80px;
	border:solid 1px;
	margin: 2px;
	right: 80px;
	bottom: 30px;
}
.event:hover {
	background-color: #555555;
	color: #FFFFFF;
}
/* End: the event list / events */

/* The actual data from the database and the expand/add/remove buttons*/
.day, .start, .stop, .brief, .long, .location, .convention, .category, .expandButton, .removeButton, .addButton{
	position:absolute;
}
.day{
	left:10px;
	top:20px;
}
.start{
	left:10px;
	top:40px;
}
.stop{
	left:10px;
	top:60px;
}
.brief{
	left: 170px;
	top:30px;
	width: 600px;
}
.long{
	visibility: hidden;
	left: 170px;
	top:100px;
}
.location{
	top: 30px;
	left: 650px;
}
.convention{
	top: 30px;
	left: 500px;
}
.category{
	top: 30px;
	left: 770px;
}
.expandButton{
	left:870px;
	top:30px;
}
.removeButton{
	left:970px;
	top:15px;
}
.addButton{
	left:970px;
	top:15px;
	z-index: 1;
}
.added { /* When an event is currently in the user's schedule */
	background-color: #019EDD;
}
/* End: the actual data from the database */

/* Labels */
.timeLabel, .descriptionLabel, .conventionLabel, .locationLabel, .categoryLabel, .conflictLabel{
	position: absolute;
	font-weight: bold;
	text-decoration: underline;
}
.timeLabel{
	left: 10px;
}
.descriptionLabel{
	left: 170px;
}
.conventionLabel{
	left: 500px;
}
.locationLabel{
	left: 650px;
}
.categoryLabel{
	left: 770px;
}
.conflictLabel{
	text-decoration: none;
	color: #AF0000;
	top: 10px;
	left: 90px;
}
/* end Labels */

/* dialogs */
#addNotification, #removeNotification {
	position: fixed;
	text-align: center;
	border: solid 1px black;
	border-radius: 2px;
	background-color: #B24926;
	width: 200px;
	height: 90px;
	font-size: 36;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 150px;
	z-index: 1000;
	visibility: hidden;
}
#overlapNotification{
	position: fixed;
	text-align: center;
	border: solid 1px black;
	border-radius: 2px;
	background-color: #B24926;
	width: 400px;
	height: 200px;
	font-size: 36;
	left: 760px;
	top: 150px;
	z-index: 1000;
	visibility: hidden;
}

.ui-accordion-header{
	color: #FFFFFF;
	background-color: #e2360f;
}
.ui-accordion-header:hover{
	background-color: #FFFFFF;
	color: #e2360f;
	cursor: pointer;
}