
head, body{
	font-family:"Arial Black", Gadget, sans-serif;
	background-color: #fbf4ee;
}

.header{
	background-image: url();

	height:125px;
	line-height: 125px;
	width:100%;
	text-align:center;
	font-size:600%;
}

.sidebar{
	background-color:silver;

	float:left;
	height:100%;
	width: 160px;
}

.sidebar ul{
	width:100%;
	padding:0;
	margin:0;
}

.sidebar li{
	height:100px;
	line-height:100px;
	width:100%;
	list-style:none;
	text-align:center;
	font-size:150%;
}

.sidebar li:hover{
	cursor:pointer;
	background-color:gray;
}

.sidebar a{
	text-decoration:none;
	color:black;
}

.sidebar a:hover{
	color:white;
}

#wonder {
	position: absolute;
	left: 169px;
	top: 140px;
}
#thor {
	position: absolute;
	left: 169px;
	top: 300px;
}
#flash {
	position: absolute;
	left: 169px;
	top: 480px;
}
#hulk {
	position: absolute;
	left: 169px;
	top: 690px;
}

#iron {
	position: absolute;
	left: 1430px;
	top: 130px;
	width: 400px;
	height: 800px;
}
#superman {
	position: absolute;
	left: 1430px;
	top: 680px;
}

#wrapper_Search{
	position: absolute;
	top: 250px;
	left: 320px;
}

.featured{
	height:300px;
}

.scheduleGlance{
	height:auto;
}

.filters{
	float: left;
	height:100px;
	width:1500px;
	align-content:center;
	margin-left:50px;
}

.searchBox{
	margin-left:140px;
	margin-top:10px;
}

.searchTerm{
	height:30px;
	width:300px;
	font-size:100%;
}

.Search{
	font-family:"Arial Black", Gadget, sans-serif;
	height:30px;
	width:70px;
	background-color:silver;
	border:solid 1px;
}

.Search:hover{
	background-color: gray;
	color: white;
	cursor:pointer;
}

.drpdwn{
	list-style: none;
    padding: 0;
    margin: 0;
}

.drpdwn li:hover > ul{
    display: inline;
    background-color:gray;
}

.drpdwn_Title > ul{
	display:none;
 	position: absolute;
    list-style: none;
    background-color:silver;
    top:30px;
    left:0;
    width:150px;
    margin:0;
    padding:0;
    font-size:80%;
    z-index:1;
}

.drpdwn_Title{
	position:relative;
	display:inline-block;
	float:left;
	width:150px;
	height:35px;
	margin-left:140px;
	margin-top:20px;
	border:solid 1px;
}

.drpdwn_Title:hover{
	background-color: gray;
	color: white;
	cursor:pointer;
}

.drpdwn_Title p{
	background-color:silver;
	height:35px;
	width:150px;
	text-align:center;
	font-size:150%;
	margin:0;
}

.drpdwn_Title p:hover{
	background-color:gray;
}

