/* Written by Tyler Brandt */

body{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/* The entire list of events, and the events themselves */
.eventList{
	list-style: none;

}
.event {
	position:relative;
	width: 1499px;
	height:80px;
	border:solid 1px;
	margin: 2px;
}
.event:hover {
	background-color: #555555;
	color: #FFFFFF;
}
/* End: the event list / events */

/* The actual data from the database and the expand/add/remove buttons*/
.day, .start, .stop, .brief, .long, .location, .convention, .category, .expandButton, .removeButton, .addButton{
	position:absolute;
}
.day{
	left:10px;
	top:20px;
}
.start{
	left:10px;
	top:40px;
}
.stop{
	left:10px;
	top:60px;
}
.brief{
	left: 150px;
	top:30px;
	width: 600px;
}
.long{
	visibility: hidden;
	left: 150px;
	top:100px;
}
.location{
	top: 30px;
	left: 1000px;
}
.convention{
	top: 30px;
	left: 800px;
}
.category{
	top: 30px;
	left: 1100px;
}
.expandButton{
	left:1225px;
	top:30px;
}
.removeButton{
	left:1325px;
	top:25px;
}
.addButton{
	left:1325px;
	top:30px;
	z-index: 1;
}
.added { /* When an event is currently in the user's schedule */
background-color: #EFF0A3;
}
/* End: the actual data from the database */

/* Labels */
.timeLabel, .descriptionLabel, .conventionLabel, .locationLabel, .categoryLabel{
	position: absolute;
	font-weight: bold;
	text-decoration: underline;
}
.timeLabel{
	left: 10px;
}
.descriptionLabel{
	left: 150px;
}
.conventionLabel{
	left: 800px;
}
.locationLabel{
	left: 1000px;
}
.categoryLabel{
	left: 1100px;
}
/* end Labels */